body{
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    min-width: 100vw;

    background-color: #020202;
    font-family: monospace;
    margin: 0;
    color: #e3dfd8;
}

h2{
    font-size: 1.25em;
}

.container-header{
    display: flex;
    justify-content: space-between;
    background-color: #141311;
    padding: 1.5em;
    font-family: monospace;
    font-size: 1.5em;
}

.container-presentation{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-end;
    justify-content: space-evenly;

    max-width: 100%;
    padding: 2em;
    background-color: rgb(8, 8, 8);
}

.presentation-text{
    max-width: 60ch;
}

.photo{
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    min-width: 200px;
    min-height: 200px;
}
figcaption{
    width: 40ch;
    margin: 3%;
}

.container-lists{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    padding: 2em;
    max-width: 100%;
    height: 100%;
    
    background-color: #020202;
}

.list-item-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column-reverse;
    justify-self: center;
    flex: 0 0 13ch;

    background-color: #262522;
    text-align: center;

    height: 12em;
    padding: 1em;
    margin: 0.5em;
    border-radius: 10%;
}

.container-hobbies{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;

}

.container-top5{
    display: flex;
    flex-wrap: wrap;
}

.top-x-box{
    background-color: #b5afa5;
    color: #141311;
    padding: 1.5em 0.75em;
    border-radius: 15%;

    position: relative;
    bottom: 75%;
    right: 40%;
}

.container-footer{
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    
    padding: 1em 6em;
    background-color: #141311;
}

.container-contact{
    background-color: #333;
    padding: 0.75em;
    border-radius: 0.75em;
}
.link-img{
    max-height: 2em;
    max-width: 2em;
}